$packageName: plog;

.#{$packageName}-doc-container {
  display: flex;
  align-items: stretch;
  justify-content: center;
  gap: 3rem;

  .#{$packageName}-main-content {
    flex: 1;
    padding-inline: 5rem;
    border: 1px solid skyblue;
    border-radius: 2rem;

    .#{$packageName}-heading1 {
      color: green;
    }

    .#{$packageName}-unordered-list {
      list-style-type: "\2B50";

      li {
        padding-left: 0.5em;
      }
    }

    .#{$packageName}-code {
        background-color: skyblue;
        padding: 0.2em 0.2em;
        font-weight: 700;
    }
    .#{$packageName}-code-block {
        background-color: gray;
        padding: 1em;
        font-weight: 700;
    }
  }
}
